# Imports

In [1]:
import numpy as np
import pandas as pd

# GET DATAFRAMES

In [2]:
def getDF(filename):
        df =pd.read_csv(filename, dtype='unicode')
        return df
    
file1 = getDF("links_small.csv")
file2 = getDF("movies_metadata.csv")
file3 = getDF("ratings_small.csv")

In [3]:
file2['runtime']

0         81.0
1        104.0
2        101.0
3        127.0
4        106.0
         ...
45461     90.0
45462    360.0
45463     90.0
45464     87.0
45465     75.0
Name: runtime, Length: 45466, dtype: object

# RUNTIMES MISSING VALUES

In [4]:
def findMissing(df, column):
    count = 0
    for i, row in df.iterrows():
        check = pd.isna(float(row[column]))
        if check:
            count+=1
    return count

print(findMissing(file2, 'runtime'))

263

# FILL IN WITH MEAN 
>first lets find the mean

In [5]:
def getMean(df,column):
    thesum = 0.0
    rows = 0.0
    for i, row in df.iterrows():
        if pd.isna(float(row[column])) != True:
            thesum += float(row[column])
            rows += 1
    return (thesum/rows)

mean = getMean(file2, 'runtime')
print(mean)

94.12819945578833

> Next lets input the mean where missing values are located

In [6]:
def fillMissing(df, column, mean):
    for i, row in df.iterrows():
        if pd.isna(float(row[column])):
            row[column] = mean
    return df

file2 = fillMissing(file2, 'runtime',mean)

In [7]:
findMissing(file2,'runtime') #Proof missing values are now filled

0

# FINAL DATA
> get columns in right order

In [8]:
columns = list(file2.columns.values)
file2 = file2[[columns[-1]]+[columns[15]]+[columns[10]]+[columns[16]]+[columns[-2]]]
file2

      vote_count    revenue popularity runtime vote_average
0           5415  373554033  21.946943    81.0          7.7
1           2413  262797249  17.015539   104.0          6.9
2             92          0    11.7129   101.0          6.5
3             34   81452156   3.859495   127.0          6.1
4            173   76578911   8.387519   106.0          5.7
...          ...        ...        ...     ...          ...
45461          1          0   0.072051    90.0          4.0
45462          3          0   0.178241   360.0          9.0
45463          6          0   0.903007    90.0          3.8
45464          0          0   0.003503    87.0          0.0
45465          0          0   0.163015    75.0          0.0

[45466 rows x 5 columns]

> predictors and labels

In [9]:
predictors = list(file2.columns.values)
label = file3['rating']
label

0         2.5
1         3.0
2         3.0
3         2.0
4         4.0
         ...
99999     2.5
100000    4.0
100001    4.0
100002    2.5
100003    3.5
Name: rating, Length: 100004, dtype: object

> Merging dataframe and series

In [10]:
columns = list(file2.columns.values)
df = pd.concat([file2,label],axis=1, join="inner")
df

      vote_count    revenue popularity runtime vote_average rating
0           5415  373554033  21.946943    81.0          7.7    2.5
1           2413  262797249  17.015539   104.0          6.9    3.0
2             92          0    11.7129   101.0          6.5    3.0
3             34   81452156   3.859495   127.0          6.1    2.0
4            173   76578911   8.387519   106.0          5.7    4.0
...          ...        ...        ...     ...          ...    ...
45461          1          0   0.072051    90.0          4.0    3.0
45462          3          0   0.178241   360.0          9.0    4.5
45463          6          0   0.903007    90.0          3.8    4.0
45464          0          0   0.003503    87.0          0.0    4.0
45465          0          0   0.163015    75.0          0.0    3.0

[45466 rows x 6 columns]